[Unit]
Description=The gate python driver
After=network-online.target

[Install]
WantedBy=network-online.target

[Service]
User=gate-py
Group=gate-py
Restart=on-abnormal
WorkingDirectory=/opt/gate-py
ExecStart=/opt/gate-py/.venv/bin/python gate.py
Environment=PYTHONUNBUFFERED=True
