[Unit]
Description=Gate authorization server
Requires=network.target
;Requires=network.target postgresql.service
;After=postgresql.service

[Service]
User=gate-server
Group=gate-server
Type=simple
ExecStart=/opt/java -jar /opt/gate-server/gate-server.jar
ExecReload=/bin/kill -HUP $MAINPID
; On some systems, kill is in /usr/bin
;ExecReload=/usr/bin/kill -HUP $MAINPID
RestartSec=5
Restart=on-failure
PrivateTmp=yes
EnvironmentFile=/opt/gate-server/gate-server.conf
WorkingDirectory=/opt/gate-server

[Install]
WantedBy=multi-user.target
